*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)) ,url(images/giorgi-shakarashvili-ZQoiexv9WZY-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

nav{
    width: 100%;
    height: 11vh;
    background-color: #19b69e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: sticky;
    top: 0;
    z-index: 1000; */
}

.logo p{
    color: white;
    font-weight: bolder;
    font-size: 2.2rem;
    text-shadow: 2px 7px 8px black;
    transition: all 0.4s linear;
     cursor: pointer;
}

.logo p:hover{
    transform: translateY(-3px);
}

.logo span{
   font-size: 2.7rem;
   
}

.menu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
     text-shadow: 2px 7px 8px black;
     position: relative;
     cursor: pointer;
    
}
.menu a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0% ;
    height: 100%;
    border-bottom: 3.7px solid black;
    transition: 0.4s linear;
}

.menu a:hover::before{
    width: 95%;
}

.button button{
    padding: 15px 25px;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    background-color: white;
    border: none;
    position: relative;
    transition: 0.4s ease;
    z-index: 1;
    border-radius: 3px;
    box-shadow:  2px 7px 8px black ;
     cursor: pointer;
    /* border: 2px solid black; */

}

.button button::before{
    content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background-color: rgb(32, 32, 32);
   transition: width 0.4s ease;
   z-index: -1;
   
}

.button button:hover::before{
    width: 100%;
    
}

.button button:hover{
    color: white;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 13%;
}

.heading h1{
    font-size: 3rem; 
    font-weight: 900;
    text-shadow: 5px 9px 10px black;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

}

.heading button{
     padding: 15px 25px;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    background-color: white;
    border: none;
    position: relative;
    transition: 0.4s ease;
    z-index: 1;
    border-radius: 3px;
    box-shadow:  3px 9px 8px black ;
     cursor: pointer; 
     margin-top: 3.5%;
}

.heading button::before{
    content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background-color: rgb(32, 32, 32);
   transition: width 0.4s ease;
   z-index: -1;
   
}

.heading button:hover::before{
    width: 100%;
    
}

.heading button:hover{
    color: white;
}

.headdiv{
    position: absolute;
    bottom: -13%;
    left: 14%;
    border: 1px solid red;
    border: none;
    width: 70%;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
     background-color: white;
       box-shadow:  6px 15px 12px black ;
       /* transform: skewY(3deg); */
       transform: skewX(-12deg);
       
}

.headdiv input{
     padding: 13px 20px;
     font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow:  2px 4px 10px black ;
    border: none;
    cursor: pointer;
}

.headdiv select{
      padding: 14px 22px;
     font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow:  2px 4px 10px black ;
    border: none;
    cursor: pointer;
}

.headdiv button{
     padding: 15px 25px;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid black;
    position: relative;
    transition: 0.4s ease;
    z-index: 1;
    border-radius: 3px;
    box-shadow:  3px 9px 8px black ;
     cursor: pointer; 
     
}

.headdiv button::before{
    content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background-color: rgb(32, 32, 32);
   transition: width 0.4s ease;
   z-index: -1;
   
}

.headdiv button:hover::before{
    width: 100%;
    
}

.headdiv button:hover{
    color: white;
}



.h2{
     font-size: 2.1rem; 
    font-weight: 900;
    text-transform: uppercase;
    color: #19b69e;
    cursor: pointer;
    margin-top: 12.5%;
    margin-left: 7%;
        text-shadow: 0 10px 30px #ddd;
}


.maincontainer{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2%;
   margin-top: 3%;
   cursor: pointer;
}

.container{
    border: 1px solid red;
    border: none;
    width: 25%;
    height: 58vh;
     box-shadow:  0px 4px 20px rgb(83, 83, 83) ;
     position: relative;
     transition: 0.4s ease;
}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #19b69e;
    transition: width 0.4s ease;
}

.container:hover::before{
    width: 100%;
}

.container i,
.container h2,
.container p{
   position: relative;
   z-index: 1;
   transition: color 0.4s ease;
}

.container:hover i,
.container:hover h2,
.container:hover p{
    color: white;
}

.container i{
    font-size: 70px;
    margin-left: 7%;
    margin-top: 10%;
    color: #19b69e;
}

.container h2{
    margin-left: 7%;
    margin-top: 5%;
    font-size: 1.7rem; 
    font-weight: 900;
    text-transform: uppercase;
}

.container p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 17px;
    margin-left: 7%;
    margin-top: 5%
}

.container button{
    padding: 8px 10px;
    margin-left: 7%;
    margin-top: 5%;
    font-weight: 800;
    text-transform: uppercase;
    background-color: white;
    position: relative;
    transition: 0.4s ease;
    z-index: 1;
    border-radius: 3px;
    box-shadow:  3px 9px 8px black ;
    cursor: pointer; 
    border: 1px solid black;
}



.container button::before{
    content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background-color: rgb(32, 32, 32);
   transition: width 0.4s ease;
   z-index: -1;
   
}

.container button:hover::before{
    width: 100%;
    
}

.container button:hover{
    color: white;
}


.h22{
     font-size: 2.1rem; 
    font-weight: 900;
    text-transform: uppercase;
    color: #19b69e;
    cursor: pointer;
    margin-top: 7%;
    margin-left: 7%;
        text-shadow: 0 10px 30px #ddd;
}


.about{
    border: 1px solid red;
    border: none;
    width: 100%;
    height: 95vh;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30%;
}

.a{
    border: 1px solid blue;
    border: none;
    width: 31%;
    height: 90vh;
    margin-top: 1%;
    background-color: #19b69e;
    position: relative;
    margin-right: 7.5%;

}

.a img{
    width: 123%;
    height: 56vh;
    position: absolute;
    top: 20%;
    left: 30%;
     box-shadow:  3px 9px 8px black ;
    
}

.b{
    border: 1px solid brown;
    border: none;
    margin-top: 3%;
    padding-right: 4%;
   
}

.b h2{
     font-size: 2.1rem; 
    font-weight: 900;
    text-transform: uppercase;
    color: #19b69e;
    cursor: pointer;
    text-shadow: 0 10px 30px #ddd;
}

.b p{
    margin-top: 5.8%;
    color: rgba(0, 0, 0, 0.8);
    font-size: 15.5px;
    line-height: 26px;
    
    
}


.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 420%;
    left: 14%;
    border: 1px solid red;
    border: none;
    cursor: pointer;
    
}

.mainbox .card{
    
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.mainbox .card:hover{
     height: 390px;
}

.mainbox .card .imgbox{
    position: relative;
    width: 260px;
    height: 195px;
    top: -60px;
    left: 7px;
    z-index: 1;
    border: 1px solid red;
    border: none;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.mainbox .card .imgbox img{
    width: 100%;
    height: 30.5vh;
    border-radius: 4px;
}


.mainbox .card .content{
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    
}

.mainbox .card:hover .content{
    visibility: visible;
    opacity: 1;
     margin-top: -20px;
     transition-delay: 0.3s;
}


.content button{
    padding: 8px 10px;
    margin-left: 0%;
    margin-top: 7%;
    font-weight: 800;
    text-transform: uppercase;
    background-color: white;
    position: relative;
    transition: 0.4s ease;
    z-index: 1;
    border-radius: 3px;
    box-shadow:  3px 9px 8px black ;
    cursor: pointer; 
    border: 1px solid black;
     transition: 0.3s ease-in-out;
}



.content button::before{
    content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background-color: rgb(32, 32, 32);
   transition: width 0.4s ease;
   z-index: -1;
   
}

.content button:hover::before{
    width: 100%;
    
}

.content button:hover{
    color: white;
}


.maindiv{
    width: 100%;
    height: 90vh;
    background-color: #19b69e;
    position: relative;
    border: 0.01px solid  #19b69e;
    margin-top: 18%;
}

.maindiv2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 23%;
    gap: 10%;
}

.maindiv2 h2{
     font-size: 2.1rem; 
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    text-shadow: 0 10px 30px #ddd;
}

.maindiv2 p{
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    line-height: 22px;
    margin-top: 1.5%;
    
}

.maindiv2 summary{
    font-weight: 900;
    font-size: 20px;
}

.diva{
    border: 1px solid red;
    border: none;
    margin-bottom: 12%;
    cursor: pointer;
}

.divb{
    border: 1px solid red;
    width: 60%;
    height: 40vh;
    overflow: auto;
    border: none;
     cursor: pointer;
}

.divb hr{
    background-color: black;
    color: black;
    height: 0.1vh;
    outline: none;
    border: none;
    margin-top: 2%;
    margin-bottom: 4%;
    
}

.heading3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7%;
}

.heading3 h2{
    font-size: 2.1rem; 
    font-weight: 900;
    text-transform: uppercase;
    color: #19b69e;
    cursor: pointer;
    margin-left: 7%;
    text-shadow: 0 10px 30px #ddd;
    padding-bottom: 8%;
}

.heading3 p{
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    line-height: 20px;
    padding-left: 16%;
    padding-top: 4%;
}


.Testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 7%;
}


.john1{
     border: 1px solid red;
    border: none;
    width: 25%;
    height: 54vh;
     box-shadow:  0px 4px 20px rgb(83, 83, 83) ;
     position: relative;
     transition: 0.4s ease;  
      cursor: pointer;
     
}

.john1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #19b69e;
    transition: height 0.4s ease;
}

.john1:hover::before{
    height: 100%;
}



.john1 p{
   position: relative;
   z-index: 1;
   transition: color 0.4s ease;
}



.john1:hover p{
    color: white;
}


.john1 p{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    line-height: 29px;
    padding-top: 18%;
    padding-left: 8%;

}

.john1 i{
    border: 1px solid #19b69e;
    border-radius: 50px;
    font-size: 30px;
    padding: 12px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19b69e;
    color: white;
      box-shadow:  3px 9px 8px black ;
      position: absolute;
      left: 3%;
      top: -7%;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    gap: 5%;
    padding-right: 33%;
    position: relative;
    z-index: 2;
 
}

.im{
    border: 1px solid black;
    border: none;
    border-radius: 50px;
    width: 30%;
    height: 10vh;
    background-image: url(images/person_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5%;
}

.para span{
   
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.7rem;
    
    
    
}

#p1{
   color: black;
   font-size: 1rem;
   font-weight: 900;
   

   
}

.im2{
    border: 1px solid black;
    border: none;
    border-radius: 50px;
    width: 30%;
    height: 10vh;
    background-image: url(images/person_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5%;
}


.im3{
    border: 1px solid black;
    border: none;
    border-radius: 50px;
    width: 30%;
    height: 10vh;
    background-image: url(images/person_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5%;
}



.mainlast{
    display: flex;
    margin-top: 5%;
}

.lastdiv{
    width: 25%;
    height: 35vh;
    position: relative;
    border: 1px solid blue;
    border: none;
    overflow: hidden;
    cursor: pointer;
   
}

.lastdiv:hover .lastcontent{
    visibility: visible;
    opacity: 1;
    
}

.lastdiv:hover .lastimg{
    transform: scale(1.1);
}

.lastimg{
    border: 1px solid red;
    border: none;
    width: 100%;
    height: 35vh;
    background-image: url(images/img_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: transform 0.5s ease;

}

.lastimg2{
    border: 1px solid red;
    border: none;
    width: 100%;
    height: 35vh;
    background-image: url(images/img_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: transform 0.5s ease;

}

.lastdiv:hover .lastimg2{
    transform: scale(1.1);
}

.lastimg3{
    border: 1px solid red;
    border: none;
    width: 100%;
    height: 35vh;
    background-image: url(images/img_4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: transform 0.5s ease;

}

.lastdiv:hover .lastimg3{
    transform: scale(1.1);
}

.lastimg4{
    border: 1px solid red;
    border: none;
    width: 100%;
    height: 35vh;
    background-image: url(images/matt-paul-catalano-0QEG_xOoY7Y-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: transform 0.5s ease;

}

.lastdiv:hover .lastimg4{
    transform: scale(1.1);
}

.lastcontent{
     width: 100%;
    height: 35vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgba(0,0,0,0.6);
   visibility: hidden;
   opacity: 0;
    transition: opacity 0.4s ease;
   
}

.lastcontent i{
    font-size: 38px;
    color: white;
}

footer{
    width: 100%;
    height: 80vh;
    background-color: #19b69e;
}

.mainfooter{
    display: flex;
    justify-content: center;
    align-items: center;
     padding-top: 3%;
    
}

.mainfooter h2{
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
     text-shadow: 2px 7px 8px black;
     transition: all 0.4s linear;
     cursor: pointer;
}

.mainfooter h2:hover{
     transform: translateY(-3px);
     color: black;
}

.mainfooter p{
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
     text-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
}

.mainfooter p:hover{
    color: black;
}

.footer1{
    border: 1px solid red;
     border: none;
    width: 25%;
    height: 55vh;
}

.footer2{
    border: 1px solid red;
     border: none;
    width: 25%;
    height: 55vh;
}

.footer3{
    border: 1px solid red;
     border: none;
    width: 25%;
    height: 55vh;
}

.footer4{
    border: 1px solid red;
    border: none;
    width: 25%;
    height: 55vh;
}

.icons{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-right: 5%;
    gap: 2%;
}

.footer4 i{
    border: 1px solid #19b69e;
    border-radius: 50px;
    font-size: 25px;
    padding: 12px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19b69e;
    color: white;
     box-shadow:  3px 9px 8px black ;
     transition: all 0.4s linear;
      cursor: pointer;
}

.footer4 i:hover{
     transform: translateY(-3px);
     color: white;
     background-color: black;
     border: 1px solid black;
}


.copy{
  color:  white;
  font-size: 16px;
  text-align: center;
  margin-top: 4%;
   text-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
}

.copy a{
     padding: 12px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: cursive;
  border-radius: 7px;
  border: 1px solid black;
  background-color: black;
   box-shadow:  3px 9px 8px black ;
}

.copy i{
    font-size: 22px;
}
